{% load staticfiles bootstrap4 %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="{% static "vendor/bootstrap/css/bootstrap.css" %}">
    <title>
        {% block title %}TITLE HERE{% endblock %} | ExMan2018
    </title>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url "expenses:list" %}">ExMan2018</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link"
                   href="{% url "expenses:create" %}">Create</a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <span class="navbar-text">
                        <b>{{ user }}</b>
                    </span>

                    <a class="nav-item nav-link" href="{% url "logout" %}">
                        Logout
                    </a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url "login" %}">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <h2>
        {% block heading %}
            HEADING
        {% endblock %}
    </h2>

    {% bootstrap_messages %}

    {% block content %}
        CONTENT
    {% endblock %}

    <hr>
    &copy; 2019
</div>

<script src="{% static "vendor/jquery/jquery-3.3.1.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "js/csrf.js" %}"></script>
{% block page_scripts %}
{% endblock %}

</body>
