{% extends "base.html" %}

{% block title %}
    Expense #{{ object.id }}
{% endblock %}

{% block heading %}
    Expense #{{ object.id }}
{% endblock %}

{% block content %}
    <ul>
        <li>
            Date: {{ object.date }}
        </li>
        <li>
            Amount: ${{ object.amount }}
        </li>
        <li>
            Title: {{ object.title }}
        </li>
        <li>
            {{ object.comment|linebreaks }}
        </li>
    </ul>

    <ul>
        <li>
            <form method="POST" novalidate>
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                    <li>
                        <button>Add</button>
                    </li>
                </ul>
            </form>
        </li>
        {% for note in object.notes.all %}
            <li>
                <b>{{ note.created_at }}</b>
                {{ note.content|linebreaks }}
            </li>
        {% endfor %}
    </ul>



{% endblock %}