{% extends "base.html" %}

{% block title %}
    Expense #{{ object.id }}
{% endblock %}

{% block heading %}
    Expense #{{ object.id }}
{% endblock %}

{% block content %}
    <ul>
        <li class="nice ugly">
            Date: {{ object.date }}
        </li>
        <li class="nice">
            Amount: ${{ object.amount }}
        </li>
        <li class="ugly nice">
            Title: {{ object.title }}
        </li>
        <li class="ugly">
            {{ object.comment|linebreaks }}
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item">
            <form method="POST" novalidate>
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                    <li>
                        <button class="btn btn-primary">Add</button>
                    </li>
                </ul>
            </form>
        </li>
        {% for note in object.notes.all %}
            <li class="list-group-item">
                <b>{{ note.created_at }}</b>
                {{ note.content|linebreaks }}
            </li>
        {% endfor %}
    </ul>



{% endblock %}