<table border="1">
    <tr>
        <th>
            Date
        </th>
        <th>
            Amount
        </th>
        <th>
            Title
        </th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>
                {{ object.date }}
            </td>
            <td>
                ${{ object.amount }}
            </td>
            <td>
                {{ object.title }}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th>
            Total:
        </th>
        <th>
            ${{ total }}
        </th>
        <th>
            Items: {{ object_list.count }}
        </th>
    </tr>

</table>