{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
    {% if form.instance.id %}
        Edit Expense #{{ form.instance.id }}
    {% else %}
        Create Expense
    {% endif %}
{% endblock %}

{% block heading %}
    {% if form.instance.id %}
        Edit Expense #{{ form.instance.id }}
    {% else %}
        Create Expense
    {% endif %}
{% endblock %}

{% block content %}
    <form method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary">
                {% if form.instance.id %}
                    Update
                {% else %}
                    Add
                {% endif %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}